VUE_APP_MAPBOX_STYLE=mapbox://styles/ctrlaltcoop/ckk88gdh90jle17nn8y76dp36
VUE_APP_MAPBOX_TOKEN=
VUE_APP_BASE_URL=http://localhost:8000/api/v1
VUE_APP_AUTH_URL=http://localhost:8000/oauth2
VUE_APP_CLIENT_ID=
