# The URL to the wk-service you want to use, usually http://localhost:8000/api/v1
VUE_APP_BASE_URL=

# URL to the auth service, usually http://localhost:8000/oauth2
VUE_APP_AUTH_URL=

# The client id needs to be defined in the wk-service, you referenced with VUE_APP_AUTH_URL
VUE_APP_CLIENT_ID=

# A mapbox access token that is eligible for your local development domain (probably http://localhost:8080)
VUE_APP_MAPBOX_TOKEN=
