.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.env
.env.development.local

quasar.conf.local.js

src-capacitor/ios/App/App.ipa
src-capacitor/ios/App/App.app.*
src-capacitor/ios/App/fastlane/report.xml
*.keystore
android-signing.properties

.vscode/vscode-chrome-debug-userdatadir
.vscode/launch.json
