@import "variables";

@page {
  size: A4;
  margin-top: 1cm;
}

@media print {
  html, body {
    width: 210mm !important;
    height: 297mm !important;
  }

  .mapboxgl-ctrl-logo {
    display: none !important;
  }
  .mapboxgl-ctrl-attrib-button {
    display: none !important;
  }
  .mapboxgl-ctrl-attrib-inner {

    a:last-of-type {
      display: none !important;
    }
  }
}

.print-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1cm;
  width: 210mm !important;
  border: initial;
  border-radius: initial;
  min-height: initial;
  box-shadow: initial;
  background: initial;
  page-break-before: always;
}


@media screen {
  .print-page {
    border: 1px dotted $grey-5;
  }
}
