$black: #000;
$white: #fff;
$red: #DF0303;
$blue: #00C3E8;
$orange: #FF8C00;

$dark-red: #C10015;

$text-primary: $black;
$text-inverted: invert($black);

$primary: $red;
$warning: $orange;
$error: $dark-red;

$font-stack: 'Roboto', Arial, Helvetica, Geneva, sans-serif;
$map-overlay-shadow: 0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.2);

