@import "font/roboto";

$font-stack: 'Roboto', Arial, Helvetica, Geneva, sans-serif;

$black: #000;
$white: #fff;
$red: #DF0303;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$text-primary: $black;
$text-inverted: invert($black);
$primary: $red;

html, body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

#app {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.control-buttons {
  display: flex;
  justify-content: flex-end;
}
