@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$font-stack: 'Roboto', Arial, Helvetica, Geneva, sans-serif;

$red: #ff0000;

html, body {
  font-family: $font-stack;
}

#app {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

