@import "font/roboto";
@import "color";
@import "button";
@import "primevue-overwrite";
@import "layout";
@import "ionic";

$font-stack: 'Roboto', Arial, Helvetica, Geneva, sans-serif;

html, body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app, #root {
  height: 100%;
  width: 100%;
}

.control-buttons {
  display: flex;
  justify-content: flex-end;
}

.gray-button {
  background-color: $gray-600 !important;
  border: 1px solid $gray-600 !important;
}