@import "color";

// $button-red: #f32121;
$button-red: $red;
$button-shadow: #faa6a6;
$button-border: #b13651;

.p-tag {
  background-color: white !important;
  color: $button-red !important;
  border: 1px solid $button-red;
  border-radius: 0;
}

.event-link {
  text-decoration: none;
  color: black;

  &:hover {
    color: $button-red;
  }
}

ul {
  padding-inline-start: 0;
}

.p-button {
  background-color: $button-red !important;
  border-radius: 0 !important;
  border: 1px solid $button-red !important;
}

.p-button.p-button-text {
  color: white !important;
}

.p-inputtext:enabled:focus,
.p-dropdown:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-focus,
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  outline: 0 none !important;
  outline-offset: 0 !important;
  box-shadow: 0 0 0 0.2rem $button-shadow !important;
  border-color: $button-border !important;
}

.p-inputtext:enabled:hover,
.p-dropdown:not(.p-disabled):hover,
.p-multiselect:not(.p-disabled):hover,
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: $button-red !important;
}

.p-autocomplete-dd .p-autocomplete-input,
.p-input {
  border-radius: 0 !important;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem $button-shadow;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background-color: $button-red !important;
  color: white !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $button-red !important;
  background: $button-red !important;
}

.p-progressbar .p-progressbar-value {
  background: $red !important;
}